<!doctype html>
<html lang="tr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Ömer Asaf BALIKÇI - İletişim Sayfası</title>
    <link rel="icon" href="van-golu-vektor-seeklogo.com.ico">
    <link rel="stylesheet" href="css/ortak.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  </head>
  <body>
    <!-- Navbar - Start -->
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary" id="basadon">
      <a class="navbar-brand" href="index.html">Ömer Asaf BALIKÇI</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-link" href="index.html">Hakkımda <span class="sr-only">(current)</span></a>
          <a class="nav-link" href="oz-gecmis.html">Öz Geçmiş</a>
          <a class="nav-link" href="sehrim.html">Şehrim</a>
          <a class="nav-link" href="takimimiz.html">Takımımız</a>
          <a class="nav-link" href="ilgi-alanlarim.html">İlgi Alanlarım</a>
          <a class="nav-link active" href="iletisim-sayfasi.html">İletişim Sayfası</a>
          <a class="nav-link" href="login.html">Login</a>
        </div>
      </div>
    </nav>
    <!-- Navbar - End -->

    <!-- Header - Start -->
    <header class="container">
        <section class="row mt-5">
            <article class="col-sm-12">
                <h1 style="text-align: center; color: #007bff;">İletişim Sayfası</h1>
            </article>
        </section>
    </header>
    <!-- Header - End -->

    <!-- Main - Start -->
    <main class="container">
        <section class="row mt-3">
            <div class="col-sm-12">
                <form action="form-elemanlari.php" id="myForm" method="post">
                  <label for="name">Adı :</label> <br>
                  <input type="text" id="name" v-model="name" name="name" placeholder="Adınız..." size="50"  style="border-color: #007bff;"> <br><br>
                
                  <label for="surname">Soyadı :</label> <br>
                  <input type="text" id="surname" v-model="surname" name="surname" placeholder="Soyadınız..." size="50" style="border-color: #007bff;"> <br><br>

                  <select id="gender" name="gender" style="border-color: #007bff;">
                    <option value="Erkek">ERKEK</option>
                    <option value="Kadin">KADIN</option>
                  </select><br><br>
                
                  <label for="email">E-Posta :</label> <br>
                  <input type="email" id="email" v-model="email" name="email" placeholder="E-posta adresiniz..." size="50" style="border-color: #007bff;"> <br><br>
                
                  <label for="agreement">Kabul ediyorum :</label>
                  <input type="checkbox" id="agreement" v-model="agreement" name="agreement"> <br><br>
                
                  <button type="submit" style="background-color: #007bff; color: white; border-color: white;">GÖNDER (JavaScript)</button>

                  <input type="reset" value="TEMİZLE" style="background-color: #007bff; color: white; border-color: white;">
                </form>
            </div>
        </section>
    </main>
    <!-- Main - End -->
    
    <!-- Script - Start -->
    <script>
    document.getElementById("myForm").addEventListener("submit", function(event) {
      event.preventDefault();

      const nameInput = document.getElementById("name");
      const surnameInput = document.getElementById("surname");
      const emailInput = document.getElementById("email");
      const agreementInput = document.getElementById("agreement");

      if (nameInput.value === "" || nameInput.value === " ") {
        alert("Lütfen adınızı girin.");
        return;
      }
      if (surnameInput.value === "" || surnameInput.value === " ") {
        alert("Lütfen soyadınızı girin.");
        return;
      }
      if (!isValidEmail(emailInput.value)) {
        alert("Lütfen e-posta hesabınızı girin.");
        return;
      }
      if (!agreementInput.checked) {
        alert("Lütfen onay kutusunu işaretleyin.");
        return;
      }
      this.submit();
    });

    function isValidEmail(email) {
      const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      return emailRegex.test(email);
    }
    </script>
    <!-- Script - End -->

    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <hr>

    <!-- Footer - Start -->
    <footer style="height: 150px; background-color: #007bff;">
      <p style="text-align: center; padding-top:60px ; color: white;">Van Gölü Canavarı tarafından oluşturulmuş blog sitesi...</p>
      <br>
      <p><a href="#basadon" style="display: inline-block; text-decoration: none; color: rgb(25, 25, 25); position: fixed; bottom: 0px; right: 0px;">Başa Dön</a></p>
    </footer>
    <!-- Footer - End -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>